.blockElement {
  background: url("../img/background1.jpg") center no-repeat;
  height: 700px;
  display: flex;
  flex-direction: column-reverse;
  .navigationBox {
    height: 500px;
    width: 390px;
    background-color: #e19c51;
    opacity: 0.85;
    margin-left: 9%;
    .headNavigationBox {
      height: 95px;
      background-color: #fcad5e;
      text-align: center;
      padding-top: 5px;
      opacity: 1;
      span {
        font-family: 'Pacifico', cursive;
        font-size: 24px;
        margin-top: 3px;

      }
    }
    &:hover {
      opacity: 0.97;
      transition: 0.7s;
    }
    .centerNavigationBox {
      background-color: #d4b28d;
      height: 300px;
      div {
        img {
          width: 85px;
          padding: 15px 0 6px 0;
          opacity: 0.7;
        }
        span {
          //font-family: 'Neucha', cursive;
          font-family: 'Roboto', sans-serif;
          font-size: 19px;
          //font-weight: bold;
        }
        text-align: center;
        height: 50%;
        width: 50%;
        float: left;
        background-color: #c5a481;
        border: solid 1.5px #bf8546;
        &:hover {
          background-color: #e9a660;
          transform: scale(1.05);
          -ms-transform: scale(1.05);
          transition: 0.5s;
        }
      }

    }
    .footerNavigationBox {
      text-align: center;
      padding-top: 10px;
      span:first-child {
        font-family: 'Pacifico', cursive;
        font-size: 24px;
      }
      span:last-child {
        font-family: 'Neucha', cursive;
        font-size: 30px;
        font-weight: bold;
      }
      .numberFoot{
        padding-top: 10px;
      }
    }
  }
}

