.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 60px;
  height: 60px;
}
.carousel-indicators li{
  height: 8px;
  width: 40px;
}
.carousel-inner {
  width: 90%;
  margin: 0 auto;
  @media (max-width: 800px) {
    width: 100%;
  }
}