form {
  background: #b3b3b3;
  padding: 20px;
}
form .left, form .right {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  @media (max-width: 480px) {
    width: 100%;
  }
}
form .right {
  padding-left: 20px;
  @media (max-width: 480px) {
    padding: 0;
  }
}
label {
  display: block;
  font-size: 18px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
input, textarea {
  border: 1px solid #82858D;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background: #d8d8d8;
  font-family: 'Roboto', sans-serif;
}
textarea {
  height: 98px;
  margin-bottom: 32px;
}
input[type="submit"] {
  width: 200px;
  float: right;
  border: none;
  background: #595B5F;
  color: #fff;
  text-transform: uppercase;
  @media (max-width: 480px) {
    float:left;
  }

}