.headMenu{
  //margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ul{
    display: flex;
    flex-direction: row;
    li{
      list-style-type: none;
      margin: 0 10px;
      //background-color: #0c5460;
      //border:solid black 1px;
      //padding-bottom: 21px;
      /* text-align: center; */
      //padding-top: 10px;
      a{
        text-decoration: none;
        color: #212529;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;

        &:hover{
          color: #be6e33;
          transition: 0.2s;
        }
      }
    }
    li:last-child{
      color:#443b3300;
    }
  }
  div img{
    margin-top: 1px;
    margin-bottom: 2px;
  }
}



