*{
  box-sizing: border-box;
  margin: 0;
}
@media (max-width: 480px) {
  body {
    width: 510px; }
}
//body{
//  background-color: #443b33ab;
//}

@import url('https://fonts.googleapis.com/css?family=Neucha|Pacifico&subset=cyrillic');@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900|Roboto');