*{
  box-sizing: border-box;
  margin: 0;
}
@media (max-width: 600px) {
  body {
    width: 460px; }
}

@import url('https://fonts.googleapis.com/css?family=Neucha|Pacifico&subset=cyrillic');@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900|Roboto');