<div class="headMenu">
    <div ><img src="#" alt="logotype"></div>
    <div>
        <ul>
            <li><a href=""> Контакти</a></li>
            <li><a href=""> Фото</a></li>
            <li><a href=""> Ціни</a></li>
        </ul>
    </div>
</div>
<div class="blockElement">
    <div class="navigationBox">
        <div class='headNavigationBox'>
            <span>Найсучасніші рішення <br/>для Вашого дому</span>
        </div>
        <div class="centerNavigationBox">
            <div  role="button" id="button1">
                <img src="/img/701780.svg" alt="кухня">
                <span>Функціональні кухні</span>
            </div>
            <div role="button" id="button2">
                <img src="/img/810173.svg" alt="офіс"><br/>
                <span>Комфортні офіси </span>
            </div>
            <div role="button" id="button3">
                <img src="/img/698948.svg" alt="прихожа">
                <span>Супермісткі прихожі</span>

            </div>
            <div role="button" id="button4">
                <img src="/img/544830.svg" alt="спальня"> <br/>
                <span>Затишні спальні</span>
            </div>
        </div>
        <div class="footerNavigationBox">
            <span>
                Будемо раді Вашому дзвінку
            </span> <br/>
           <div class="numberFoot">
               <span>
                +3 (8096) 483 39 74
            </span>
           </div>
        </div>
    </div>
</div>
<!--чому ми-->
<div class="why-we">
    <div class="container-fluid head-why-we">
        <h2>Те, що робить нас кращими:</h2>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row text-center why-we-columns">
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <img src="/img/clock.png" alt="time">
                    <h2>Швидкий сервіс</h2>
                    <p>Більше Вам не доведеться чекати, доки хтось до вас прийде на заміри, ми беремо на себе обов'язок прийти до вас напротязі 48 годин і зразу приступити до виконання поставлених Вами задач</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 ">

                    <img src="/img/mvk.png" alt="people">
                    <h2>Працюють професіонали</h2>
                    <p>Так, саме професіонали! Ми - команда, яка зробила сотні рішень для будинків, офісів, котеджів. Працюємо з дизайнерами, та з Вашим чудовим смаком</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <img src="/img/gps.png" alt="location">
                    <h2>Ми завжди поруч</h2>
                    <p>Ми завжди поруч, тож проблеми з обслуговуванням та часом на виконання більше не будуть проблемою. Завжди вчасно, якісно і з смаком!</p>
                </div>
            </div>
        </div>
    </div>
</div>

