<div class="footer">
    <footer>
        <div class="upside-footer">
            <div><h2>Залиште свої контакти для <span class="forFree">безкоштовних замірів</span></h2></div>
        </div>
        <div>


            <form method="post" action="mail.php">

                <div class="left">
                    <label for="name">Ім'я:</label>
                    <input maxlength="30" type="text" name="name" />

                    <label for="phone">Телефон:</label>
                    <input maxlength="30" type="text" name="phone" />

                    <label for="mail">E-mail:</label>
                    <input maxlength="30" type="text" name="mail" />
                </div>

                <div class="right">
                    <label for="message">Повідомлення:</label>
                    <textarea rows="7" cols="50" name="message"></textarea>

                    <input type="submit" value="Надіслати" />
                </div>

            </form>


        </div>
    </footer>
</div>