<div class="headMenu" style="position: sticky;">
    <div>
        <img src="img/vd-logo.png" alt="logotype">
    </div>
    <div>
        <ul class="main-menu">
            <li ><div class="animated pulse infinite">Унікальні послуги</div>
                <ul class="sub-menu our-abilities">
                    <li>​​​​​​1) Система знижок для постійних клієнтів та дилерів.</li>
                    <li>2) Гарантія на рік з сервісним обслуговуванням</li>
                    <li>3) Можливість позачергового експрес виготовлення</li>
                    <li>4) Розтермінування оплати через кредитну лінію Приват Банку</li>
                    <li>5) Каталог готових, найбільш вигідних меблевих рішень</li>
                    <li>6) Безготівковий перерахунок без проблем і затримок</li>
                    <li>7) Заключення договору про зобов'язання сторін</li>
                    <li>8) Повідомлення про статус замовлення на кожному етапі виробництва</li>
                    <li>9) Попередня 3D візуалізація до кожного проекту</li>
                    <li>10) Кожен має можливість заробити співпрацюючи з компанією VD-mebli</li>
                </ul>
            </li>
            <li style="color: white; opacity: 0.2 ;font-size: 1px">меблі львів на замовлення</li>
        </ul>
    </div>
</div>
<script src="js/dropdown.js"></script>
<div class="blockElement">
    <div class="navigationBox">
        <div class='headNavigationBox'>
            <span>Найсучасніші рішення <br/>для Вашого дому</span>
        </div>
        <div class="centerNavigationBox">
            <div role="button" id="button1">
                <img src="/img/701780.svg" alt="кухня">
                <span>Функціональні кухні</span>
            </div>
            <div role="button" id="button2">
                <img src="/img/childRoom.svg" alt="офіс"><br/>
                <span>Оригінальні дитячі</span>
            </div>
            <div role="button" id="button3">
                <img src="/img/coupe.svg" alt="прихожа"> <br>
                <span>Шафи - купе</span>

            </div>
            <div role="button" id="button4">
                <img src="/img/stinka.svg" alt="спальня"> <br>
                <span>Сучасні стінки</span>
            </div>
        </div>
        <div class="footerNavigationBox">
            <span>
                Будемо раді Вашому дзвінку
            </span> <br/>
            <div class="numberFoot">
               <span>
                +38(096) 483 39 74
            </span>
            </div>
        </div>
    </div>
</div>
<!--чому ми-->
<div class="why-we">
    <div class="container-fluid head-why-we">
        <h2>Те, що робить нас кращими:</h2>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row text-center why-we-columns">
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <img src="/img/clock.png" alt="time">
                    <h2>Швидкий сервіс</h2>
                    <p>Більше Вам не доведеться чекати, доки хтось до вас прийде на заміри, ми беремо на себе обов'язок
                        прийти до вас напротязі 48 годин і зразу приступити до виконання поставлених Вами задач</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 ">

                    <img src="/img/mvk.png" alt="people">
                    <h2>Працюють професіонали</h2>
                    <p>Так, саме професіонали! Ми - команда, яка зробила сотні рішень для будинків, офісів, котеджів.
                        Працюємо з дизайнерами, та з Вашим чудовим смаком</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-4">
                    <img src="/img/gps.png" alt="location">
                    <h2>Ми завжди поруч</h2>
                    <p>Ми завжди поруч, тож проблеми з обслуговуванням та часом на виконання більше не будуть проблемою.
                        Завжди вчасно, якісно і з смаком!</p>
                </div>
            </div>
        </div>
    </div>
</div>

